[core]
  pager = delta
  excludesFile = "${XDG_CONFIG_HOME}/git/gitignore"

[init]
  defaultBranch = main

[user]
  name = ${GITUSER}
  email = ${GITUSER}@users.noreply.github.com

[credential "https://github.com"]
  helper = !gh auth git-credential

[credential "https://gist.github.com"]
  helper = !gh auth git-credential

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  diff-highlight = true
  line-numbers = true
  side-by-side = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
